body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
}
nav{
    background:#2c5364;
    color:#fff;
    padding:12px 20px;
    display:flex;
    justify-content:space-between;
}
nav a{
    color:#fff;
    text-decoration:none;
    margin-left:15px;
}
.container{
    max-width:1100px;
    margin:30px auto;
    background:#fff;
    padding:25px;
    border-radius:12px;
}
.forms{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}
.box{
    background:#f4f4f4;
    padding:20px;
    border-radius:10px;
}
input,select,button{
    width:100%;
    padding:10px;
    margin-bottom:10px;
}
button{
    background:#2c5364;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:25px;
}
th,td{
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}
th{
    background:#2c5364;
    color:#fff;
}